* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-size:1rem;
    font-weight: 300;
    font-family:'Source Sans Pro', sans-serif;
    color: white;
    background-repeat: no-repeat;

}
.video{
    width:100%;
    height:100%;
    object-fit: cover;
    position: fixed;
    top:0;
    z-index:-1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    padding: 0.3rem;
    margin-top: 2%;
    padding-left: 2%;
}
.main{
    font-size: 2.4rem;
    padding: 1rem;
    font-weight: 300;
    color: white;
    
}

.navbody{
    /* border: 1px solid white;  */
    width:65% ;
     display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    font-weight: 300;

}
.div1{
     /* border: 1px solid white;  */
     display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5;
    cursor: pointer;
}
.name{ 
    font-size:1.4rem;
    text-decoration: none;
    color: white;
}
.circle1{
    /* border: 1px solid whitesmoke; */
     width:6vw; 
    height:0.2vh;
    background-color: white;
}
.circle2{
    /* border: 1px solid whitesmoke; */
   width: 1.5vw;
   height: 3vh;
    border-radius:50%;
    background-color: white;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1:hover .name {
  color: greenyellow;        
}
.div1:hover .circle2{
  background-color: greenyellow;
  cursor:default;
}
.div1:hover .circle1{
    background-color: greenyellow;
    cursor:pointer;
}
.circle1:hover{
    background-color: greenyellow;
    opacity:50%;
}
.body {
  /* border: 1px solid red; */
  width:100%;
  /* min-height: 85vh; */
   display: flex;
  flex-direction: column;
  justify-content:center;
  gap:2.4rem;
  line-height: 1.6;
  /* margin: 0 auto; */
  margin-top:3%;
  padding-right:8%;
  padding-left: 35%;

}

.div3 {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.circle4{
    width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
 .circle5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.circle6 {
 width:100%;
  height: 1px;
  background-color: white;

}

.container {
  width:54vw;
  display: flex;
  justify-content:center;
  gap: 2rem;
  margin-left:1%;
  /* padding-left: 9%; */
}

.content {
  width:62vw;
  font-size: 1.2rem;
  background: rgba(6,6,6,0.4);
  backdrop-filter: blur(2px);
  color:white;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left:5%;
}
.footer{
  width: 100%; 
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  padding:2%;
  margin-top: 2%;
}


/* ===============================
   RESPONSIVE DESIGN
================================ */

/* -------- Tablets (<= 1024px) -------- */
@media (max-width: 1024px) {

  .navbar {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .navbody {
    width: 100%;
  }

  .body {
    padding-left: 15%;
    padding-right: 5%;
  }

  .container {
    width: 70vw;
  }

  .content {
    width: 100%;
    font-size: 1.1rem;
  }

  .footer {
    flex-direction: column;
    gap: 0.5rem;
    height: auto;
    text-align: center;
  }
}

/* -------- Mobile (<= 768px) -------- */
@media (max-width: 768px) {

  .navbar {
    padding: 1rem;
  }

  .main {
    font-size: 2rem;
  }

  .navbody {
    flex-direction: column;
    gap: 1rem;
  }

  .circle1 {
    width: 20vw;
  }

  .circle2 {
    width: 4vw;
    height: 4vw;
  }

  .body {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
  }

  .container {
    width: 100%;
    margin-left: 0;
  }

  .content {
    width: 100%;
    font-size: 1rem;
    padding: 1.2rem;
  }

  .circle6 {
    width: 100%;
  }

  .footer {
    font-size: 1rem;
    padding: 1rem;
  }
}

/* -------- Small Mobile (<= 480px) -------- */
@media (max-width: 480px) {

  body {
    font-size: 0.9rem;
  }

  .main {
    font-size: 1.7rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .circle1 {
    width: 30vw;
  }

  .content h2 {
    font-size: 1.4rem;
  }

  .content p {
    font-size: 0.95rem;
  }

  .circle4,
  .circle5 {
    width: 14px;
    height: 14px;
  }
}
